<h1>All Tasks</h1>
<p>
<% if current_user %>
<% @user_tasks.each do |task|%> 
<div id=<%="task-#{task.id}"%>> 
  <%= task.body %>
  <%= link_to "Delete", task, method: :delete, class: 'btn btn-success', remote: true %>
</div>
  <% end %>
   
<% end %>
</p>
